/* p{
    color: yellow;
    background-color:blue;
}
body{
    color:pink;
}
.heading3{
    color: green;
}

#box{
    height: 100px;
    width: 100px;
    background-color: blue;
    color: whitesmoke;
    border: 1px solid black;
} */

    /* // day 8 start  */
/* div{
     height: 100px;
    width: 100px;
    color: white;
    background-color: blue;
    border: ipx solid black;
    
    height: 100px;
    width: 100px;
} */


  /* // DAY  9 AND 10 WAS PROJECT WHICH IS COMPLETE */

                    
                    /* DAY 11 START  */


                                         /* Completed 14 Days JavaScript Course  - Practiced core JS concepts (variables, functions, loops, DOM, async/await) - Built mini projects daily - Final project completed successfully - Improved problem solving and coding consistency */